{% extends "base.html" %} {% block title %} AI Chat {% endblock %}
<!--This is the Chat Prompt Page-->
{% from 'macros.html' import ai_inputForm %} {% block content %}
<div>
    <h1>AI Chat Prompt Generator</h1>
    <p>{{ chat_reply }}</p>

    {{ ai_inputForm(chatAI_form, chatAI_form.submit_chatAI) }}

    <div>
        <ol>
            {% for prompt in prompt_list %}
            <ul>
                {{ prompt }}
            </ul>
            {% endfor %}
        </ol>

        {% if showIRedirect %}
        <form action="/generate" method="post">
            <input type="submit" value="genImage" />
        </form>
        {% endif %}
        <hr />
    </div>
</div>
{% endblock %}
