<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Video Maker 01</title>
    </head>
    <body>
        <h1>Video Automation</h1>
        <p>{{ chat_reply }}</p>

        <form action="/home" method="post">
            {{ chatAI_form.csrf_token }}
            <div>
                {{ chatAI_form.prompt.label }} {{ chatAI_form.prompt }} {% if
                chatAI_form.prompt.errors %}
                <ul class="error">
                    {% for error in chatAI_form.prompt.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {{ chatAI_form.submit_chatAI }}
            </div>
        </form>
    </body>
</html>
